In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [21]:
data = pd.read_csv("AmesHousing_1.txt", delimiter= "\t")
#data["Sale Type"].value_counts()

WD       2536
New       239
COD        87
ConLD      26
CWD        12
ConLI       9
ConLw       8
Oth         7
Con         5
VWD         1
Name: Sale Type, dtype: int64

In [4]:
null_data = data.isnull().sum()
null_data

Order                0
PID                  0
MS SubClass          0
MS Zoning            0
Lot Frontage       490
Lot Area             0
Street               0
Alley             2732
Lot Shape            0
Land Contour         0
Utilities            0
Lot Config           0
Land Slope           0
Neighborhood         0
Condition 1          0
Condition 2          0
Bldg Type            0
House Style          0
Overall Qual         0
Overall Cond         0
Year Built           0
Year Remod/Add       0
Roof Style           0
Roof Matl            0
Exterior 1st         0
Exterior 2nd         0
Mas Vnr Type        23
Mas Vnr Area        23
Exter Qual           0
Exter Cond           0
                  ...
Bedroom AbvGr        0
Kitchen AbvGr        0
Kitchen Qual         0
TotRms AbvGrd        0
Functional           0
Fireplaces           0
Fireplace Qu      1422
Garage Type        157
Garage Yr Blt      159
Garage Finish      159
Garage Cars          1
Garage Area          1
Garage Qual        159
Garage Cond        159
Paved Drive          0
Wood Deck SF         0
Open Porch SF        0
Enclosed Porch       0
3Ssn Porch           0
Screen Porch         0
Pool Area            0
Pool QC           2917
Fence             2358
Misc Feature      2824
Misc Val             0
Mo Sold              0
Yr Sold              0
Sale Type            0
Sale Condition       0
SalePrice            0
Length: 82, dtype: int64

In [5]:
col_wmv = null_data[null_data==0].index
col_wmv

Index(['Order', 'PID', 'MS SubClass', 'MS Zoning', 'Lot Area', 'Street',
       'Lot Shape', 'Land Contour', 'Utilities', 'Lot Config', 'Land Slope',
       'Neighborhood', 'Condition 1', 'Condition 2', 'Bldg Type',
       'House Style', 'Overall Qual', 'Overall Cond', 'Year Built',
       'Year Remod/Add', 'Roof Style', 'Roof Matl', 'Exterior 1st',
       'Exterior 2nd', 'Exter Qual', 'Exter Cond', 'Foundation', 'Heating',
       'Heating QC', 'Central Air', '1st Flr SF', '2nd Flr SF',
       'Low Qual Fin SF', 'Gr Liv Area', 'Full Bath', 'Half Bath',
       'Bedroom AbvGr', 'Kitchen AbvGr', 'Kitchen Qual', 'TotRms AbvGrd',
       'Functional', 'Fireplaces', 'Paved Drive', 'Wood Deck SF',
       'Open Porch SF', 'Enclosed Porch', '3Ssn Porch', 'Screen Porch',
       'Pool Area', 'Misc Val', 'Mo Sold', 'Yr Sold', 'Sale Type',
       'Sale Condition', 'SalePrice'],
      dtype='object')

In [6]:
df_no_mv = data[col_wmv]
df_no_mv.head()

,Order,PID,MS SubClass,MS Zoning,Lot Area,Street,Lot Shape,Land Contour,Utilities,Lot Config,...,Enclosed Porch,3Ssn Porch,Screen Porch,Pool Area,Misc Val,Mo Sold,Yr Sold,Sale Type,Sale Condition,SalePrice
0,1,526301100,20,RL,131770,Pave,IR1,Lvl,AllPub,Corner,...,0,0,0,0,0,5,2010,WD,Normal,215000
1,2,526350040,20,RH,11622,Pave,Reg,Lvl,AllPub,Inside,...,0,0,120,0,0,6,2010,WD,Normal,105000
2,3,526351010,20,RL,14267,Pave,IR1,Lvl,AllPub,Corner,...,0,0,0,0,12500,6,2010,WD,Normal,172000
3,4,526353030,20,RL,11160,Pave,Reg,Lvl,AllPub,Corner,...,0,0,0,0,0,4,2010,WD,Normal,244000
4,5,527105010,60,RL,13830,Pave,IR1,Lvl,AllPub,Inside,...,0,0,0,0,0,3,2010,WD,Normal,189900

In [7]:
df_no_mv.isnull().sum()

Order              0
PID                0
MS SubClass        0
MS Zoning          0
Lot Area           0
Street             0
Lot Shape          0
Land Contour       0
Utilities          0
Lot Config         0
Land Slope         0
Neighborhood       0
Condition 1        0
Condition 2        0
Bldg Type          0
House Style        0
Overall Qual       0
Overall Cond       0
Year Built         0
Year Remod/Add     0
Roof Style         0
Roof Matl          0
Exterior 1st       0
Exterior 2nd       0
Exter Qual         0
Exter Cond         0
Foundation         0
Heating            0
Heating QC         0
Central Air        0
1st Flr SF         0
2nd Flr SF         0
Low Qual Fin SF    0
Gr Liv Area        0
Full Bath          0
Half Bath          0
Bedroom AbvGr      0
Kitchen AbvGr      0
Kitchen Qual       0
TotRms AbvGrd      0
Functional         0
Fireplaces         0
Paved Drive        0
Wood Deck SF       0
Open Porch SF      0
Enclosed Porch     0
3Ssn Porch         0
Screen Porch       0
Pool Area          0
Misc Val           0
Mo Sold            0
Yr Sold            0
Sale Type          0
Sale Condition     0
SalePrice          0
dtype: int64

In [8]:
df_no_mv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2930 entries, 0 to 2929
Data columns (total 55 columns):
Order              2930 non-null int64
PID                2930 non-null int64
MS SubClass        2930 non-null int64
MS Zoning          2930 non-null object
Lot Area           2930 non-null int64
Street             2930 non-null object
Lot Shape          2930 non-null object
Land Contour       2930 non-null object
Utilities          2930 non-null object
Lot Config         2930 non-null object
Land Slope         2930 non-null object
Neighborhood       2930 non-null object
Condition 1        2930 non-null object
Condition 2        2930 non-null object
Bldg Type          2930 non-null object
House Style        2930 non-null object
Overall Qual       2930 non-null int64
Overall Cond       2930 non-null int64
Year Built         2930 non-null int64
Year Remod/Add     2930 non-null int64
Roof Style         2930 non-null object
Roof Matl          2930 non-null object
Exterior 1st       2930 non-null object
Exterior 2nd       2930 non-null object
Exter Qual         2930 non-null object
Exter Cond         2930 non-null object
Foundation         2930 non-null object
Heating            2930 non-null object
Heating QC         2930 non-null object
Central Air        2930 non-null object
1st Flr SF         2930 non-null int64
2nd Flr SF         2930 non-null int64
Low Qual Fin SF    2930 non-null int64
Gr Liv Area        2930 non-null int64
Full Bath          2930 non-null int64
Half Bath          2930 non-null int64
Bedroom AbvGr      2930 non-null int64
Kitchen AbvGr      2930 non-null int64
Kitchen Qual       2930 non-null object
TotRms AbvGrd      2930 non-null object
Functional         2930 non-null object
Fireplaces         2930 non-null int64
Paved Drive        2930 non-null object
Wood Deck SF       2930 non-null int64
Open Porch SF      2930 non-null int64
Enclosed Porch     2930 non-null int64
3Ssn Porch         2930 non-null int64
Screen Porch       2930 non-null int64
Pool Area          2930 non-null int64
Misc Val           2930 non-null int64
Mo Sold            2930 non-null int64
Yr Sold            2930 non-null int64
Sale Type          2930 non-null object
Sale Condition     2930 non-null object
SalePrice          2930 non-null int64
dtypes: int64(27), object(28)
memory usage: 1.2+ MB

In [9]:
text_cols = df_no_mv.select_dtypes(include=["object"]).columns
text_cols

Index(['MS Zoning', 'Street', 'Lot Shape', 'Land Contour', 'Utilities',
       'Lot Config', 'Land Slope', 'Neighborhood', 'Condition 1',
       'Condition 2', 'Bldg Type', 'House Style', 'Roof Style', 'Roof Matl',
       'Exterior 1st', 'Exterior 2nd', 'Exter Qual', 'Exter Cond',
       'Foundation', 'Heating', 'Heating QC', 'Central Air', 'Kitchen Qual',
       'TotRms AbvGrd', 'Functional', 'Paved Drive', 'Sale Type',
       'Sale Condition'],
      dtype='object')

In [10]:
t = df_no_mv["Sale Condition"].value_counts()
t.astype("category")

Normal     2413
Partial     245
Abnorml     190
Family       46
Alloca       24
AdjLand      12
Name: Sale Condition, dtype: category
Categories (6, int64): [12, 24, 46, 190, 245, 2413]

### data type "category" useful if you only have limited string values. can be applied to gender, rating, blood type, social class etc. Addition subtraction operations can't be performed but plots can be obtained.

In [11]:
t = df_no_mv["Sale Condition"].astype("category")
t.value_counts()

Normal     2413
Partial     245
Abnorml     190
Family       46
Alloca       24
AdjLand      12
Name: Sale Condition, dtype: int64

In [12]:
t.cat.codes.value_counts()

4    2413
5     245
0     190
3      46
2      24
1      12
dtype: int64

In [13]:
df_no_mv["Sale Condition"].head(25)

0      Normal
1      Normal
2      Normal
3      Normal
4      Normal
5      Normal
6      Normal
7      Normal
8      Normal
9      Normal
10     Normal
11     Normal
12     Normal
13     Normal
14     Normal
15     Normal
16     Normal
17    Partial
18     Normal
19     Normal
20     Normal
21     Family
22     Normal
23     Normal
24     Normal
Name: Sale Condition, dtype: object

In [14]:
pd.get_dummies(df_no_mv["Sale Condition"]).head()

   Abnorml  AdjLand  Alloca  Family  Normal  Partial
0        0        0       0       0       1        0
1        0        0       0       0       1        0
2        0        0       0       0       1        0
3        0        0       0       0       1        0
4        0        0       0       0       1        0

In [15]:
for col in text_cols:
    dummies = pd.get_dummies(df_no_mv[col])
    df_no_mv = pd.concat([df_no_mv,dummies], axis = 1)
    del df_no_mv[col]

In [16]:
df_no_mv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2930 entries, 0 to 2929
Columns: 229 entries, Order to Partial
dtypes: int64(27), uint8(202)
memory usage: 1.2 MB

In [19]:
df_no_mv.head()

,Order,PID,MS SubClass,Lot Area,Overall Qual,Overall Cond,Year Built,Year Remod/Add,1st Flr SF,2nd Flr SF,...,New,Oth,VWD,WD,Abnorml,AdjLand,Alloca,Family,Normal,Partial
0,1,526301100,20,131770,6,5,1960,1960,1656,0,...,0,0,0,1,0,0,0,0,1,0
1,2,526350040,20,11622,5,6,1961,1961,896,0,...,0,0,0,1,0,0,0,0,1,0
2,3,526351010,20,14267,6,6,1958,1958,1329,0,...,0,0,0,1,0,0,0,0,1,0
3,4,526353030,20,11160,7,5,1968,1968,2110,0,...,0,0,0,1,0,0,0,0,1,0
4,5,527105010,60,13830,5,5,1997,1998,928,701,...,0,0,0,1,0,0,0,0,1,0

In [17]:
df_no_mv.columns

Index(['Order', 'PID', 'MS SubClass', 'Lot Area', 'Overall Qual',
       'Overall Cond', 'Year Built', 'Year Remod/Add', '1st Flr SF',
       '2nd Flr SF',
       ...
       'New', 'Oth', 'VWD', 'WD ', 'Abnorml', 'AdjLand', 'Alloca', 'Family',
       'Normal', 'Partial'],
      dtype='object', length=229)

In [18]:
df_no_mv[['Year Built','Year Remod/Add']]

      Year Built  Year Remod/Add
0           1960            1960
1           1961            1961
2           1958            1958
3           1968            1968
4           1997            1998
5           1998            1998
6           2001            2001
7           1992            1992
8           1995            1996
9           1999            1999
10          1993            1994
11          1992            2007
12          1998            1998
13          1990            1990
14          1985            1985
15          2003            2003
16          1988            2005
17          2010            2010
18          1951            1951
19          1978            1988
20          1977            1977
21          1974            1974
22          2000            2000
23          1970            1970
24          1971            2008
25          1968            1968
26          1970            1970
27          1971            1971
28          1999            1999
29          1971            1971
...          ...             ...
2900        2005            2006
2901        2005            2006
2902        2005            2006
2903        1951            1951
2904        1997            1997
2905        1998            1998
2906        1998            1998
2907        2006            2006
2908        1977            1977
2909        1977            1977
2910        1973            1973
2911        1968            2003
2912        1970            1970
2913        1970            1970
2914        1972            1972
2915        1969            1979
2916        1970            1970
2917        1970            1970
2918        1970            1970
2919        1970            1970
2920        1970            1970
2921        1976            1976
2922        1976            1976
2923        1977            1977
2924        1960            1996
2925        1984            1984
2926        1983            1983
2927        1992            1992
2928        1974            1975
2929        1993            1994

[2930 rows x 2 columns]